footer {
    div {
        height: 25px;
        background-color: black;
        color: white;
    }

    p {
        padding: 5px;
        margin-left: 45%;
        font-size: $main-font-size;
        font-family: $main-font;
    }
}
